/* ==== Lines with alternating color ==== */

.mx_RoomView_MessageList > .ext-line-even {
  background-color: #ffffff;
}

.mx_RoomView_MessageList > .ext-line-odd {
  background-color: #f4f4ff;
}

.mx_RoomView_MessageList li:hover {
  background-color: #f0ffff;
}

.mx_EventTile_line {
  background-color: inherit !important;
}

/* ==== Bigger text ==== */

.mx_EventListSummary_summary,
.mx_EventTile_line,
.mx_EventTile_info,
.mx_EventTile_body,
.mx_EventTile_content {
  font-size: 12pt !important;
}

.mx_MessageTimestamp {
  font-size: 12pt;
  color: #004080;
}

.mx_EventTile .mx_SenderProfile {
  font-size: 12pt !important;
}

/* ==== Put timestamp, avatar, username, and comment in the same line ==== */

/*
 * |                                                            |
 * |        65px        |  110px   |                            |
 * |<------------------>|<-------->|                            |
 * |                    |          |                            |
 * |  48px   |  15px  | |          |             |  90px  | 8px |
 * |<------->|<------>| |          |             |<------>|<--->|
 * |         |        | |          |             |        |     |
 * +-------+ +--------+ +----------+ +---------+ +--------+     |
 * | 00:00 | | (icon) | | username | | comment | | option |     |
 * | [abs] | | [abs]  | | [float]  | | comment | | [abs]  |     |
 * +-------+ +--------+ +----------+ +---------+ +--------+     |
 * |       |                         |         |                |
 * | 46px  |                         |         |                |
 * |<----->|                         |         |                |
 * |                                 |         |                |
 * |              180px              |         |     100px      |
 * |<------------------------------->|         |<-------------->|
 * |                                                            |
 */

.mx_EventTile_line,
.mx_EventTile_reply {
  padding-left: 180px;
}

.mx_EventTile .mx_SenderProfile {
  /* Cannot use "position: absolute", because username can be wrapped
   * and in that case it may be taller than the comment itself. */
  float: left;
  padding-left: 65px;
  line-height: 16pt;
  width: 110px;
  overflow: visible;
}

.mx_EventTile .mx_SenderProfile .mx_SenderProfile_name {
  white-space: normal;
}

.mx_EventTile {
  padding-top: 0px !important;
}

.mx_MessageActionBar {
  top: 0px;
}

/* ==== Remove right margin from message ==== */

.mx_EventTile_content {
  margin-right: 0px;
}

.mx_EventTile_line, .mx_EventTile_reply {
  margin-right: 0px;
  min-height: auto;
  line-height: 16pt;
  padding-right: 100px;
}

/* ==== Do not put username and image in the same line  ==== */

.mx_MImageBody {
  clear: left;
}

/* ==== Smaller avatar ==== */

div:not(.mx_EventTile_info) > .mx_EventTile_avatar {
  transform: scale(0.5);
  transform-origin: top left;
  top: 4px;
  left: 48px;
}

/* ==== Smaller quote ==== */

blockquote {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* ==== Compact rooms list ==== */

.mx_RoomTile {
  height: 24px;
}
