/* ==== Lines with alternating color ==== */

.ext-body-light .mx_RoomView_MessageList > .ext-line-even {
  background-color: #ffffff;
}

.ext-body-dark .mx_RoomView_MessageList > .ext-line-even {
  background-color: #000000;
}

.ext-body-light .mx_RoomView_MessageList > .ext-line-odd {
  background-color: #f4f4ff;
}

.ext-body-dark .mx_RoomView_MessageList > .ext-line-odd {
  background-color: #202030;
}

.ext-body-light .mx_RoomView_MessageList li:hover {
  background-color: #f0ffff;
}

.ext-body-dark .mx_RoomView_MessageList li:hover {
  background-color: #303040;
}

.mx_IRCLayout .mx_SenderProfile_hover,
.mx_EventTile_line {
  background-color: inherit !important;
}

.ext-body-light .mx_MessageTimestamp {
  color: #004080;
}


/* ==== Date before timestamp ==== */

.mx_MessageTimestamp::before {
  content: attr(ext-date);
}

.mx_IRCLayout .mx_EventTile .mx_MessageTimestamp {
  width: 7em;
}
